@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #e5e5e5;
  --primary-bg-color: #f5f4fa;
  --grey-bg-color: #2f303a;
  --white-color: #ffffff;
}

body {
  /* background-color: var(--primary-bg-color); */
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

img {
  display: block;
}

/* Сброс отступов браузера */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Оформление списков */
.list {
  list-style: none;
}

/* Оформление ссылок */
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__container {
  display: flex;
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo {
  margin-right: 93px;
}

.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.site-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.hero {
  display: block;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/design-img/Img-min.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  text-align: center;
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--white-color);
  background-color: #2196f3;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
  background-color: var(--white-color);
}

.features__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.features-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--primary-bg-color);
  border-radius: 4px;
  border: transparent;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.71;
  text-align: left;
  font-weight: 400;
}

.works {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.works__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.works__image-wrapper {
  position: relative;
}

.works__text-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #e5e5e5;
}

.team__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team__item-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  font-weight: 400;
}

.team__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__socials-item {
  width: 44px;
  height: 44px;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
}

.team__social-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--white-color);
}

.clients {
  background-color: var(--white-color);
}

.clients__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}

.clients__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item-link:hover, .clients__item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item-link:hover .clients__icon,
.clients__item-link:focus .clients__icon {
  fill: #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--grey-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo,
.address {
  color: #ffffff;
}

.footer__link-address {
  color: var(--white-color);
  font-weight: 400;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__list {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-links-section {
  margin-left: 72px;
}

.social-list {
  display: flex;
}

.social-list__item {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__form-section {
  margin-left: 93px;
}

.form-section__wrapper {
  display: flex;
}

.footer__mail-form {
  margin-right: 12px;
}

.mail-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-form__input:hover, .mail-form__input:focus {
  border-color: var --accent-color;
}

.mail-form__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn-submit {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  padding: 10px 28px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn-submit:hover, .footer__btn-submit:focus {
  background-color: #188ce8;
}

.footer__btn-submit-icon {
  fill: var(--white-color);
  margin-left: 10px;
}

.portfolio-page {
  background-color: #ffffff;
}

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: block;
  text-align: center;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-link {
  display: block;
}

.projects__item-link:hover, .projects__item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-wrapper {
  overflow: hidden;
  position: relative;
}

.projects__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding: 63px 24px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.projects__item:hover .projects__overlay,
.projects__item:focus .projects__overlay {
  transform: translateY(0);
}

.projects__item-description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.projects__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__btn-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__btn-close-icon,
.modal__btn-close:focus .modal__btn-close-icon {
  fill: var(--accent-color);
}

.form__title-text {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form__field {
  margin-bottom: 10px;
}

.form__user-data-label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input-wrapper {
  display: flex;
  position: relative;
}

.form__input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  fill: var(--title-text-color);
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment-wrapper {
  margin-bottom: 30px;
}

.form__comment {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  color: var(--title-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:hover, .form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__wrapper {
  display: flex;
}

.check__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 8px;
  /* центрируем галочку */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:hover + .checkbox__label .checkbox__icon,
.checkbox__input:focus + .checkbox__label .checkbox__icon {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__policy-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal__form-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  align-self: center;
  font-weight: 700;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */