.footer {
    background-color: var(--grey-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer__logo,
.address {
    color: #ffffff;
}
.footer__link-address {
    color: var(--white-color);
    font-weight: 400;
}
.footer__logo {
    margin-bottom: 20px;
}
.address__list {
    font-style: normal;
}
.address__item:not(:last-child) {
margin-bottom: 9px;
}
.footer__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.footer__title {
    margin-bottom: 20px;

    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.social-links-section {
    margin-left: 72px;
}
.social-list {
    display: flex;
}
.social-list__item {
    margin-right: 10px;
}
.footer__icon {
    fill: var(--white-color);
    width: 20px;
    height:20px
}
.footer__social-link {
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}
.footer__form-section {
    margin-left: 93px;
}
.form-section__wrapper {
    display: flex;
}
.footer__mail-form  {
    margin-right: 12px;
}
.mail-form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var (--accent-color);
        }
    &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
        }
}
.footer__btn-submit {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    text-align: center;

    padding: 10px 28px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}
.footer__btn-submit-icon {
    fill: var(--white-color);
    margin-left: 10px;
}
