.works {
    padding-top: 47px;
    padding-bottom: 94px;
    background-color:var(--white-color);
}
.works__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.works__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;  
    margin-left: 30px;
    }
.works__image-wrapper {
    position: relative;
}
.works__text-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}