body {
    /* background-color: var(--primary-bg-color); */
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
img {
    display: block;
}

  /* Сброс отступов браузера */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
  /* Оформление списков */
.list {
    list-style: none;
}
  /* Оформление ссылок */
.link {
    text-decoration: none;
}
